<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/register"><button>REGISTER</button></a>
  </body>
</html>