<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Login Page</title>
</head>
<body>
    <center>
        <img class="logo" src="/stylesheets/images/PSLogosmall.png" height="auto" width="auto" border-radius="1em">
    <form action="/users/login" method="POST">
        <label>
            Email:
            <Input type="email" name="email">
        </label>
        <label>
            Password:
            <Input type="password" name="password">
        </label>
        <button type="submit">LOGIN</button>
    </form>
    <style>
     body {
    background: rgb(98,21,2);
    background: linear-gradient(90deg, rgba(98,21,2,1) 0%, rgba(149,17,17,1) 16%, rgba(252,176,69,1) 100%);
}
    </style>
</body></center>
</html>