<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows Into Light|Radio Canada">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Login Page</title>
</head>
<body>
    <center>
        <img class="logo" src="/stylesheets/images/PSLogosmall.png" height="auto" width="auto" border-radius="1em">
    <form action="/users/login" method="POST">
        <br>
        <h2>Log in here:</h2>
        <label>
            Email:
            <Input type="email" name="email">
        </label>
        <label>
            Password:
            <Input class="input" type="password" name="password">
        </label>
        <button type="submit">LOGIN</button>
    </form>

    <style>

    h2 {
        font-family: "Shadows Into Light"
    }

     body {
        background: rgb(51,225,227);
        background: radial-gradient(circle, rgba(51,225,227,1) 0%, rgb(232 253 150) 100%);}

   label {
        font-family: 'Radio Canada';
    }    
    </style>
</body></center>
</html>