<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <center>
    <img src = "/stylesheets/images/logo.png" height="20%" width="20%">
    <h1> Register with us to have the best experience.</h1>
    <form action="/users/register" method="POST">
        <label>
            Email:
            <Input type="email" name="email">
        </label>
         <label>
            Password:
            <Input type="password" name="password">
        </label>
        <button type="submit">REGISTER</button>
    </form>
</body></center>
</html>