<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows Into Light">
    <title>Register Page</title>
</head>
<body>
    <center>
    <img src = "/stylesheets/images/logo.png" height="20%" width="20%">
    <h1> Register with us to have the best experience.</h1>
    <form action="/users/register" method="POST">
        <label>
            Email:
            <Input type="email" name="email">
        </label>
         <label>
            Password:
            <Input type="password" name="password">
        </label>
        <button type="submit">REGISTER</button>
    </form>
    <style>
    body {
        background: rgb(98,21,2); background: linear-gradient(90deg, rgba(98,21,2,1) 0%, rgba(149,17,17,1) 16%, 
        rgba(252,176,69,1) 100%);
      }
      h1{ 
        font-family: 'Shadows Into Light'
      }
    </style>
</body></center>
</html>