<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows Into Light|Radio Canada">
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
        <img class="logo" src="/stylesheets/images/PSLogosmall.png" height="auto" width="auto" border-radius="1em">
    <h1> Register a new account for Pocket Sandwich</h1>
    <div class="form-center">
    <form action="/users/register" method="POST">
        <label class="label">
            Email:
            <Input type="email" name="email">
        </label>
         <label>
            Password:
            <Input type="password" name="password">
        </label>
        
        <button class="register-button" type="submit">REGISTER</button>
    </form>
  </div>

    <style>
  body {
    background: rgb(51,225,227);
     background: radial-gradient(circle, rgba(51,225,227,1) 0%, rgb(232 253 150) 100%);
     }

  h1 { 
    font-family: 'Shadows Into Light';
    color: black;
    text-align: center;
    }

  .logo {
    border-radius: 3em;
    margin: 0 auto;
    display: block;
  }
      
  .register-button {
    margin: 0 auto;
    display: block;
    border: 2px solid #333333;
    border-radius: 1em;
    margin-top: 30px
  }

  label {
    font-family: 'Radio Canada';
    }  

  .form-center {
   display:flex;
    justify-content: center;
}
    </style>
</body>
</html>